
<div class="has_header" sb-background-image>

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="'<?php echo $this->_('Log-in'); ?>'" message="message" right-button="header_right_button"></sb-header>

    <sb-connection has-connection="has_connection"></sb-connection>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <?php if($this->isMobileDevice()) : ?>

    <div class="scrollable_content customer_register">
        <form method="post" name="registerForm" ng-submit="post()">
            <div class="padding">
                <ul class="form">

                    <li>
                        <div class="left">
                            <label for="customer_civility"><?php echo $this->_("Gender") ?></label>
                        </div>
                        <div class="right">
                            <select ng-model="customer.civility" name="civility" ng-class="{error: registerForm.civility.$invalid && registerForm.submitted}" required />
                                <option value=""></option>
                                <option value="mlle" selected="selected"><?php echo $this->_("Miss") ?></option>
                                <option value="mme"><?php echo $this->_("Mrs") ?></option>
                                <option value="m"><?php echo $this->_("Mr") ?></option>
                            </select>
                        </div>
                        <label class="error block right" ng-show="registerForm.civility.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        <div class="clear"></div>
                    </li>

                    <li>
                        <label for="customer_firstname"><?php echo $this->_("First name") ?></label>
                        <input type="text" id="customer_firstname" name="firstname" class="full_width" placeholder="<?php echo $this->_('First name'); ?>" ng-model="customer.firstname" ng-class="{error: registerForm.firstname.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.firstname.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                    </li>

                    <li>
                        <label for="customer_lastname"><?php echo $this->_("Last Name") ?></label>
                        <input type="text" id="customer_lastname" name="lastname" class="full_width" placeholder="<?php echo $this->_('Last Name'); ?>" ng-model="customer.lastname" ng-class="{error: registerForm.lastname.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.lastname.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                    </li>

                    <li>
                        <label for="customer_email"><?php echo $this->_("Email") ?></label>
                        <input type="email" id="customer_email" name="email" class="full_width" placeholder="<?php echo $this->_('Email'); ?>" ng-model="customer.email" ng-class="{error: registerForm.email.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.email.$invalid && registerForm.submitted"><?php echo $this->_("Please enter a valid email address"); ?></label>
                    </li>
                    <li>
                        <label for="password"><?php echo $this->_("Password") ?></label>
                        <input type="password" id="password" title="<?php echo $this->_("Password") ?>" placeholder="<?php echo $this->_("Password") ?>" class="full_width" name="password" ng-model="customer.password" ng-class="{error: registerForm.password.$invalid && registerForm.submitted}" required />
                        <label class="error block full_width" ng-show="registerForm.password.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                    </li>
                    <?php $canViewRanking = false; ?>
                    <?php if($this->getApplication()->getPage('social_gaming')->getId()) $canViewRanking = true; ?>
                    <?php if($canViewRanking) : ?>
                    <li>
                        <div class="left">
                            <label id="label_show_in_social_gaming" for="show_in_social_gaming"><?php echo $this->_("Show me in ranking") ?></label>
                        </div>
                        <div class="right">
                            <input type="checkbox" name="show_in_social_gaming" id="show_in_social_gaming" class="checkbox" value="1" ng-model="customer.show_in_social_gaming" />
                        </div>
                        <div class="clear"></div>
                    </li>
                    <?php endif; ?>
                    <li>
                        <div class="left">
                            <label id="label_privacy_policy" for="privacy_policy">
                                <a href="<?php echo $this->getUrl("cms/mobile_privacypolicy"); ?>"><?php echo $this->_("I accept the <u>privacy policy</u>") ?></a>
                            </label>
                        </div>
                        <div class="right">
                            <input type="checkbox" name="privacy_policy" id="privacy_policy" class="checkbox" value="1" ng-model="customer.privacy_policy" required />
                        </div>
                        <label class="error block full_width a-left" ng-show="registerForm.privacy_policy.$invalid && registerForm.submitted"><?php echo $this->_("This field is required"); ?></label>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <button type="submit" class="ng-hide"></button>
        </form>
    </div>

    <?php else : ?>
    <p><?php echo $this->_("Please log in with your mobile phone") ?></p>
    <?php endif ?>
</div>