<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="col-md-9 col-md-offset-3" style="padding-bottom: 10px">
            <a href="<?php echo $this->getUrl(''); ?>">
                <?php $logo = System_Model_Config::getValueFor("logo"); ?>
                <?php $platform_name = System_Model_Config::getValueFor("platform_name"); ?>
                <img src="<?php echo $logo ? $logo : $this->getImage("header/logo_mobile_white.png"); ?>" id="logo" alt="<?php echo $platform_name; ?>" title="<?php echo $platform_name; ?>" width="150px"/>
            </a>
        </div>
        <div class="login-body">
            <form action="<?php echo $this->getUrl('admin/account/loginpost') ?>" class="form-horizontal" method="post" id="loginForm">
                <div class="login-title"><strong><?php echo $this->_("Welcome"); ?></strong>, <?php echo $this->_("Please login"); ?></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control required" name="password" placeholder="<?php echo $this->_("Password"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="javascript:void(0);" id="btnForgotPassword" class="btn btn-link btn-block"><?php echo $this->_('Forgot your password ?'); ?></a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="signin signin_content  btn btn-info btn-block"><?php echo $this->_('Log in'); ?></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="login-subtitle">
                            <?php echo $this->_("Don't have an account yet?"); ?> <a href="javascript:void(0);" id="btnSignUp"><?php echo $this->_("Create an account"); ?></a>
                        </div>
                    </div>
                </div>
            </form>

            <form action="<?php echo $this->getUrl('admin/account/signuppost') ?>" class="form-horizontal none" method="post" id="signupForm" class="none">
                <div class="login-title"><?php echo $this->_("Create an account"); ?></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control required" name="password" placeholder="<?php echo $this->_("Password"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control required" name="confirm_password" placeholder="<?php echo $this->_("Confirm your password"); ?>" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <a href="javascript:void(0);" id="btnBackToLogin" class="btn btn-link btn-block"><?php echo $this->_('Log in to your account'); ?></a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="signin signin_content btn btn-info btn-block"><?php echo $this->_('Sign up'); ?></button>
                    </div>
                </div>
            </form>

            <form action="<?php echo $this->getUrl('admin/account/forgotpasswordpost') ?>" method="post" id="forgotpasswordForm" class="none">
                <div class="form-group">
                    <div class="col-md-12">
                        <p class="signin_content"><?php echo $this->_('Forgot your password? Don\'t worry! Simply enter your email address and we\'ll send you a new one right now.'); ?></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6" style="padding-top: 15px">
                        <button type="button" id="btnBackForgotPassword" class="btn btn-danger"><i class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="col-md-6" style="padding-top: 15px">
                        <button type="submit" class="forgot_password_content btn btn-info btn-block"><?php echo $this->_('Send'); ?></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="login-footer">
            <div class="pull-left">
                &copy; 2015 Siberian
            </div>
            <div class="pull-right">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#btnSignUp').on('click', function() {
        $('#loginForm').hide();
        $('#forgotpasswordForm').hide();
        $('#signupForm').fadeIn();
    })

    $('#btnBackToLogin').on('click', function() {
        $('#signupForm').hide();
        $('#forgotpasswordForm').hide();
        $('#loginForm').fadeIn();
    })

</script>

<script type="text/javascript">
    $('#loginForm').submit(function() {
        if(!$(this).valid()) return false;
    });

    $('#forgotpasswordForm').submit(function() {
        if(!$(this).valid()) return false;

    });

    $('#btnForgotPassword').click(function() {
        $('#loginForm').hide();
        $('#forgotpasswordForm').fadeIn();
    });

    $('#btnBackForgotPassword').click(function() {
        $('#forgotpasswordForm').hide();
        $('#loginForm').fadeIn();
    });
</script>

<script type="text/javascript">
    login_urls = {
        checklogin_post: '<?php echo $this->getUrl('admin/account/check'); ?>',
        signin_post: '<?php echo $this->getUrl('admin/account/loginpost'); ?>',
        signup_post: '<?php echo $this->getUrl('admin/account/signuppost'); ?>',
        forgotpassword_post: '<?php echo $this->getUrl('admin/account/forgotpasswordpost'); ?>'
    }
</script>