<div class="login-container">
<div class="login-box animated fadeInDown">
    <div class="col-md-9 col-md-offset-3" style="padding-bottom: 10px">
        <a href="<?php echo $this->getUrl(''); ?>" ng-click="$event.stopPropagation()">
            <img src="<?php echo $this->getImage("header/logo.png"); ?>" id="logo" alt="Siberian CMS" title="Siberian CMS" width="151" />
        </a>
    </div>
    <div class="login-body">
        <form ng-submit="login()" ng-show="!show_forgotten_password_form" class="form-horizontal">
            <div class="login-title"><strong><?php echo $this->_("Log In"); ?></strong> <?php echo $this->_("to your account"); ?></div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" id="email" class="form-control email" ng-model="credentials.email" placeholder="<?php echo $this->_("Email"); ?>" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" id="password" class="form-control" ng-model="credentials.password" placeholder="<?php echo $this->_("Password"); ?>" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="javascript:void(0)" ng-click="show_forgotten_password_form = true;" class="btn btn-link btn-block"><?php echo $this->_('Forgot your password ?'); ?></a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info btn-block"><?php echo $this->_('Log In'); ?></button>
                </div>
            </div>
        </form>

        <form ng-submit="forgottenPassword()" ng-show="show_forgotten_password_form">
            <div class="form-group">
                <div class="col-md-12">
                    <p class="signin_content"><?php echo $this->_('Forgot your password? Don\'t worry! Simply enter your email address and we\'ll send you a new one right now.'); ?></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" id="email" class="form-control required email" ng-model="credentials.email" placeholder="<?php echo $this->_("Email"); ?>" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="padding-top: 15px">
                    <button type="button" ng-click="show_forgotten_password_form = false;" class="btn btn-danger"><i class="fa fa-arrow-left"></i></button>
                </div>
                <div class="col-md-6" style="padding-top: 15px">
                    <button type="submit" class="forgot_password_content btn btn-info btn-block"><?php echo $this->_('Send'); ?></button>
                </div>
            </div>
        </form>
    </div>
    <div class="login-footer">
        <div class="pull-left">
            <?php echo $this->_("Version %s", Siberian_Version::VERSION); ?>
        </div>
        <div class="pull-right">
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('html').addClass('body-full-height');
        $('body').addClass('login-container');
    })
</script>
