<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message" right-button="header_right_button"></sb-header>

    <sb-connection has-connection="has_connection"></sb-connection>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="mcommerce sales shipping" ng-if="cart && stores">
        <div id="shipping_infos_content" class="relative" rel="mcommerce_sales_shipping">
            <div class="scroll" class="relative">
                <div class="padding cart_lines">
                    <form name="deliveryForm" ng-submit="updateDeliveryInfos()">
                        <div ng-init="setForm(deliveryForm);"></div>
                        <div class="padding" ng-show="stores.length > 1">
                            <label class="choose-store-label">
                                <?php echo $this->_('Choose a store:'); ?></label>
                            <select class="padding full_width" ng-change="selectedStoreUpdated()" name="selectedStore" ng-model="selectedStore" ng-options="store as store.name for store in stores"></select>
                        </div>
                        <div class="padding" ng-show="selectedStore.deliveryMethods.length > 0">
                            <label>
                                <?php echo $this->_('Choose a delivery method:'); ?></label>
                            <div class="padding">
                                <ul class="delivery-method-options">
                                    <li class="delivery-method-option" ng-repeat="deliveryMethod in selectedStore.deliveryMethods">
                                        <input type="radio" name="selectedDeliveryMethodId" ng-model="cart.deliveryMethodId" ng-value="deliveryMethod.id" required />
                                        <label class="inline" ng-click="cart.deliveryMethodId = deliveryMethod.id">
                                            {{ deliveryMethod.name }}
                                            <span ng-show="deliveryMethod.price > 0">{{ deliveryMethod.formattedPrice }}</span>
                                        </label>
                                    </li>
                                    <li ng-show="!cart.deliveryMethodId && deliveryForm.submitted">
                                        <label class="error">
                                            <?php echo $this->_('This field is required.'); ?>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



