<form ng-submit="save()">

    <sb-section title="'<?php echo $this->_("Enter here your terms & conditions"); ?>'">



        <div class="col-md-12">
            <div class="form-group">
                <ng-ckeditor bind="configs.sales_tc.value" skin="moono" remove-buttons="Image,Button,HiddenField,ImageButton,Select,Textarea,TextField,Radio,Checkbox,Form" remove-plugins="print,iframe,flash,smiley,pagebreak,language,scayt,selectall,templates,specialchar" msn-count="Number of typed characters:"></ng-ckeditor>
                <p class="help-block"><?php echo $this->_("This text will appear in the checkout page. 65,000 characters max."); ?></p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'" class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>

    </sb-section>

</form>