<?php echo $this->doctype() ?>
<?php //echo $this->getCurrentUrl(true, 'en'); ?>
<html class="body-full-height">
    <head>
        <title><?php echo $this->_($this->getTitle()) ?></title>
        <?php foreach($this->getMetas() as $meta) : ?>
        <meta <?php echo $meta->getTag() ?>="<?php echo $meta->getKey(); ?>" content="<?php echo $this->_($meta->getContent()); ?>" />
        <?php endforeach ?>
        <?php foreach(Core_Model_Language::getLanguages() as $language) : ?>
        <?php if(Core_Model_Language::getCurrentLanguage() == $language->getCode()) continue;?>
        <link rel="alternate" href="<?php echo $this->getCurrentUrl(true, $language->getCode()); ?>" hreflang="<?php echo $language->getCode() ?>" />
        <?php endforeach ?>

        <?php echo $this->headLink() ?>
        <?php echo $this->headScript() ?>

        <?php $favicon = System_Model_Config::getValueFor("favicon"); ?>
        <link rel="icon" type="image/png" href="<?php echo $favicon ? $favicon : "/favicon.png" ?>" />
        <script type="text/javascript">var login_urls = {};</script>
    </head>
    <body class="<?php echo $this->default_class_name ?>">

        <div class="page-container">
            <?php echo $this->getPartialHtml('sidebar') ?>
            <div class="page-content">
                <?php echo $this->getPartialHtml('header') ?>

                <?php echo $this->getPartialHtml('messages') ?>

                <div class="page-content-wrap">
                    <?php echo $this->getPartialHtml('content') ?>
                </div>

                <?php echo $this->getPartialHtml('footer') ?>

                <div id="mask" class="mask" style="display:none;">
                    <button id="hide_mask" class="default_button reverse" style="display:none;"><i class="icon-remove"></i></button>
                    <div class="loader"></div>
                </div>
                <div id="alert" class="header">
                    <div id="alert_message"></div>
                    <button type="button" class="default_button" id="close_alert_message">OK</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">

//            $.validator.messages = validatorMessages['<?php //echo Core_Model_Language::getCurrentLanguage(); ?>//'];

            $(document).ready(function() {

                loader.init();

                $('#change_language').change(function() {
                    $('#loader').show();
                    window.location = $(this).val();
                });

                $("input, textarea").placeholder();
                $("select").each(function() {
                    var select = $(this);
                    if(select.hasClass("select_country")) return;
                    select.dropkick({
                        change: function() {
                            select.change();
                        }
                    });
                });
                $(document).scroll(function() {
                    if($(document).scrollTop() > 60) {
                        if(!$('#up').is(':visible')) $('#up').stop().fadeIn();
                    }
                    else if($('#up').is(':visible')) $('#up').stop().fadeOut();
                });
                $('#up').children('a').click(function() {
                    var d = (navigator.userAgent && navigator.userAgent.indexOf('WebKit')) != -1 ? document.body : document.documentElement;
                    $(d).animate({scrollTop: $('body').offset().top});
                    return false;
                });
            });

            function featureNotAvailable() {
                new AlertMessage('<?php echo addslashes($this->_('We are sorry but this feature is not available yet')); ?>', true)
                    .isError(true)
                    .show()
                ;
            }
        </script>
    </body>
</html>