<?php $option = $this->getOptionValue(); ?>
<?php $group = $this->getCurrentGroup(); ?>
<?php $group_options = $group->getOptions(); ?>
<div>
    <form id="groupEditForm" method="post" action="<?php echo $this->getUrl('mcommerce/application_catalog_product_group/editpost'); ?>">
        <div class="buttons">
            <button type="button" onclick="products.groups.group.close();" class="delete left"><i class="icon-arrow-left"></i></button>
            <button type="submit" class="default_button right">OK</button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <fieldset>
            <h4 class="subtitle">
                <span class="left area">
                    <?php if(!$group->getId()) : ?>
                    <?php echo $this->_("Create a new options group"); ?>
                    <?php else : ?>
                    <?php echo $this->_("Edit the options group %s", strlen($group->getTitle()) > 20 ? substr($group->getTitle(), 0, 20).'...' : $group->getTitle()); ?>
                    <?php endif; ?>
                </span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="100%">
                <tr>
                    <td><label for="group_title"><?php echo $this->_("Name of the options group:"); ?></label></td>
                    <td><input class="title input" type="text" id="group_title" value="<?php echo $group->getTitle(); ?>" name="title" placeholder="<?php echo $this->_("e.g., Sauces"); ?>" /></td>
                </tr>
                <tr class="simple">
                    <td><label for="group_is_required"><?php echo $this->_("At least one option is required:"); ?></label></td>
                    <td>
                        <label id="label_group_is_required" for="group_is_required" class="checkbox">
                            <input class="checkbox" type="checkbox" id="group_is_required" value="1" name="is_required"<?php if($group->isRequired()) : ?> checked="checked"<?php endif; ?> />
                        </label>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_("Add options"); ?></span>
                <hr class="area reverse">
                <span class="area right">
                    <button type="button" class="default_button add_option add right" onclick="javascript:products.groups.group.addOption();">
                        <i class="icon-plus"></i>
                    </button>
                </span>
                <div class="clear"></div>
            </h4>
            <div>
                <table class="list list-input" width="100%" id="group_option_edit_list"<?php if($group_options->count() == 0) : ?> style="display:none;"<?php endif; ?>>
                    <?php foreach($group_options as $group_option) : ?>
                    <?php
                        echo $this->getLayout()->addPartial('group_option_row_'.$group_option->getId(), 'admin_view_default', 'mcommerce/application/edit/catalog/products/group/edit/row.phtml')
                            ->setCurrentGroupOption($group_option)
                            ->toHtml()
                        ;
                    ?>
                    <?php endforeach ?>
                    <?php echo $this->getLayout()->addPartial('group_option_row_new', 'admin_view_default', 'mcommerce/application/edit/catalog/products/group/edit/row.phtml')
                        ->setCurrentGroupOption(new Catalog_Model_Product_Group_Option(array('id' => 'new')))
                        ->toHtml()
                    ; ?>
                </table>
            </div>

            <div id="group_option_no_item"<?php if($group_options->count() > 0) : ?> style="display:none;"<?php endif; ?>>
            <?php echo $this->createPartialHtml('no_item', 'core_view_default', 'application/customization/features/edit/no_item.phtml'); ?>
            </div>
        </fieldset>

        <?php if($group->getId()) : ?>
        <input type="hidden" name="group_id" id="group_id" value="<?php echo $group->getId() ?>" />
        <?php endif; ?>
        <input type="hidden" name="option_value_id" value="<?php echo $option->getId() ?>" />

    </form>
</div>