<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_('Back') ?>'" title="'<?php echo $this->_('Photos') ?>'" message="message"></sb-header>

    <sb-connection has-connection="has_connection"></sb-connection>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <ul class="image_gallery4">
        <li ng-repeat="image in collection" class="image background_image" image-src="image.url" sb-image ng-click="showItem(image.link)"></li>
    </ul>
</div>
