<?php $target = $this->isOverview() ? "_blank" : "_self"; ?>
<div class="has_header" sb-background-image value-id="value_id" ng-class="{background_image: style_background_image}" ng-style="style_background_image">

    <sb-header title-back="'<?php echo $this->_("Back") ?>'" title="page_title" message="message"></sb-header>

    <sb-connection has-connection="has_connection"></sb-connection>

    <sb-loader is-loading="is_loading" size="'48'" block="'background'"></sb-loader>

    <div class="scrollable_content">
        <div class="padding">
            <div class="scale-fade" ng-if="weblink.cover_url">
                <img ng-src="{{ weblink.cover_url }}" width="100%" />
            </div>

            <div class="buttons">
                <a ng-repeat="link in weblink.links" target="<?php echo $target ?>" href="{{ link.url }}" class="button icon_left arrow_right">
                    <img ng-show="link.picto_url" ng-src="{{ link.picto_url }}" width="21" height="21" />
                    {{ link.title }}
                </a>
            </div>
        </div>
    </div>
</div>
