<div class="scrollable_content">

    <?php echo $this->getPartialHtml("cover"); ?>

    <div class="padding list l1">
        <ul>
            <li ng-repeat="item in collection" class="slide-left" ng-click="showItem(item)">
                <div>
                    <img width="37" height="37" class="logo left" ng-src="{{ item.icon }}" ng-if="item.icon" />

                    <p class="text">
                        <span class="name bold">{{ item.author }}.</span>
                        <span>{{ item.message }}</span>
                    </p>
                    <p ng-show="item.url"><span class="block right"><?php echo $this->_("Read More"); ?></span></p>

                    <div class="clear"></div>
                </div>

                <div class="image right" ng-if="item.picture">
                    <div class="container">
                        <span class="block bg_image" image-src="item.picture" sb-image ></span>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="details" ng-if="item.meta">
                    <span class="area1 left" ng-if="item.meta.area1">
                        <img ng-src="{{ item.meta.area1.picto }}" alt="" height="11" />
                        {{ item.meta.area1.text }}
                    </span>
                    <span class="area3 right" ng-if="item.meta.area3">
                        <img ng-src="{{ item.meta.area3.picto }}" alt="" height="11" />
                        {{ item.meta.area3.text }}
                    </span>
                    <span class="area2 right" ng-if="item.meta.area2">
                        <img ng-src="{{ item.meta.area2.picto }}" alt="" height="11" />
                        {{ item.meta.area2.text }}
                    </span>

                    <div class="clear"></div>
                </div>
            </li>
            <li><sb-loader is-loading="show_posts_loader" size="'48'" block="'background'"></sb-loader></li>
        </ul>
    </div>
</div>