<sb-section title="'<?php echo addslashes($this->_("List of your taxes")); ?>'" button="button">
    <br />
    <div class="form-group">
        <label for="filter"><?php echo $this->_("Search"); ?></label>
        <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="<?php echo $this->_("Search"); ?>" />
    </div>
    <br />
    <table class="table">
        <col width="45%" />
        <col width="45%" />
        <col width="10%" />
        <thead>
            <tr>
                <th class="pointer" ng-click="order = 'country_name'; by = !by"><?php echo $this->_("Country"); ?></th>
                <th class="pointer" ng-click="order = 'rate'; by = !by"><?php echo $this->_("Rate"); ?></th>
                <th><?php echo $this->_("Actions"); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr class="slide-left" ng-repeat="tax in taxes | filter:filter | orderBy:order:by" class="form-group">
                <td>
                    <select class="form-control" ng-model="tax.country_code" ng-options="k as v for (k, v) in tax.countries" ng-change="change(tax)">
                        <option value=""><?php echo $this->_("Select a country"); ?></option>
                    </select>
                </td>
                <td>
                    <form ng-submit="save(tax)">
                        <input type="text" class="form-control" ng-model="tax.rate" placeholder="<?php echo $this->_("Rate"); ?>" ng-change="change(tax)" />
                    </form>
                </td>
                <td class="valign-middle">
                    <a href="javascript:void(0)" title="<?php echo $this->_("Save"); ?>" ng-click="save(tax)" ng-show="tax.is_changed && !tax.loader_is_visible"><i class="fa fa-check"></i></a>
                    <a href="javascript:void(0)" title="<?php echo $this->_("Remove"); ?>" ng-click="delete(tax)" ng-show="!tax.loader_is_visible"><i class="fa fa-remove"></i></a>
                    <sb-loader is_visible="tax.loader_is_visible" type="'inner_content'" size="'tiny'" animation="'no'" class="form_loader"></sb-loader>
                </td>
            </tr>
            <tr ng-show="!taxes.length">
                <td colspan="3" class="a-center"><?php echo $this->_("You don't have created any taxes yet"); ?></td>
            </tr>
        </tbody>
    </table>
</sb-section>
