<?php if ($this->canView()) : ?>
    <div class="col-md-12">
        <?php if ($this->hasSuccess()) : ?>
            <div class="alert-success col-md-6 col-md-offset-3" role="alert" style="float: left; margin-bottom: 10px;
    line-height: 21px; padding: 10px; border-radius: 4px; text-align: center;">
                <ul>
                    <?php foreach ($this->getSuccess() as $success) : ?>
                        <li><?php echo $success; ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif ?>

        <?php if ($this->hasWarning()) : ?>
            <div class="alert-warning col-md-6 col-md-offset-3" role="alert" style="float: left; margin-bottom: 10px;
    line-height: 21px; padding: 10px; border-radius: 4px; text-align: center;">
                <ul>
                    <?php foreach ($this->getWarning() as $warning) : ?>
                        <li><?php echo $warning; ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif ?>

        <?php if ($this->hasError()) : ?>
            <div class="alert-danger col-sm-8 col-md-offset-2" role="alert" style="float: left; margin-bottom: 10px;
    line-height: 21px; padding: 10px; border-radius: 4px; text-align: center;">
                <ul>
                    <?php foreach ($this->getError() as $error) : ?>
                        <li><?php echo $error; ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif ?>
    </div>
<?php endif ?>
