<?php $invoice = $this->getInvoice(); ?>
<div class="application">
    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-file-alt"></i>
            <h2 class="left f-rounded"><?php echo $this->_('Invoice N°'); ?><?php echo $invoice->getNumber();?></h2>
            <div class="right">
                <a class="btn btn-primary" href="<?php echo $this->getUrl('sales/admin_invoice/list') ?>"><?php echo $this->_('Back'); ?></a>
            </div>
            <div class="clear"></div>
            <hr class="reverse">
        </div>
        <div class="area">
            <div>
                <div class="col-md-6">
                    <p><?php echo System_Model_Config::getValueFor("company_name") ?></p>
                    <p><?php echo nl2br(System_Model_Config::getValueFor("company_address")) ?></p>
                    <p><?php echo System_Model_Config::getValueFor("company_country") ?></p>
                    <p><?php echo System_Model_Config::getValueFor("company_phone") ?></p>
                </div>
                <div class="col-md-5 text-right">
                    <p><?php echo $invoice->getAdminName(); ?></p>
                    <p><?php echo nl2br($invoice->getAdminAddress()); ?></p>
                    <p><?php echo $invoice->getAdminCountry(); ?></p>
                    <?php if($invoice->getAdminVatNumber()) : ?>
                        <p><?php echo $invoice->getAdminVatNumber(); ?></p>
                    <?php endif; ?>
                </div>

                <div class="clear"></div>
            </div>

            <br />
            <div>
                <p>
                    <span><strong><?php echo $this->_('Invoice N°'); ?></strong><?php echo $invoice->getNumber(); ?></span><br/>
                    <span><strong><?php echo $this->_('Created at:'); ?></strong> <?php echo $invoice->getFormattedCreatedAt($this->_("MM/dd/yy")); ?></span><br/>
                    <span><strong><?php echo $this->_('Paid at:'); ?></strong> <?php echo $invoice->getFormattedCreatedAt($this->_("MM/dd/yy")); ?></span>
                </p>
            </div>

            <br />

            <div>
                <table class="table">
                    <col width="50%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <thead>
                        <tr>
                            <th><?php echo $this->_('Name'); ?></th>
                            <th><?php echo $this->_('Price Excl. Tax'); ?></th>
                            <th><?php echo $this->_('Qty'); ?></th>
                            <th><?php echo $this->_('Total'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($invoice->getLines() as $line) : ?>
                        <tr>
                            <td><?php echo $line->getName() ?></td>
                            <td align="right"><?php echo $line->getFormattedPriceExclTax() ?></td>
                            <td align="center"><?php echo $line->getQty() ?></td>
                            <td align="right"><?php echo $line->getFormattedTotalPriceExclTax() ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

                <div class="col-md-4 col-md-offset-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2"><?php echo $this->_('Total'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->_('Total Excl. Tax'); ?></td>
                                <td align="right"><?php echo $invoice->getFormattedTotalExclTax(); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->_('Tax'); ?> (<?php echo $invoice->getTaxRate() ?> %)</td>
                                <td align="right"><?php echo $invoice->getFormattedTotalTax(); ?></td>
                            </tr>
                            <tr>
                                <td><strong><?php echo $this->_('Total'); ?></strong></td>
                                <td align="right"><strong><?php echo $invoice->getFormattedTotal(); ?></strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>