<div>
    <ul>
        <li class="animated step1"><i id="step1_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> Welcome</li>
        <li class="animated step2"><i id="step2_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> Agreement</li>
        <li class="animated step3"><i id="step3_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> Database</li>
        <li class="animated step4"><i id="step4_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> Installation</li>
        <li class="animated step5"><i id="step5_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> User</li>
        <li class="animated step6"><i id="step7_ok" class="icon-ok blue5 animated" style="opacity:0;"></i> Done!</li>
    </ul>
</div>
