<div class="title">
    <button id="previous_step" class="blue5 opacity_on_active left"><i class="icon-angle-left"></i><span class="right">Previous</span></button>
    <div class="title_content">
        <h1 class="animated step step1 blue5 f-rounded">Welcome to Siberian CMS</h1>
        <h1 class="animated step step2 blue5 f-rounded">Agreement</h1>
        <h1 class="animated step step3 blue5 f-rounded">Database</h1>
        <h1 class="animated step step4 blue5 f-rounded">Installation</h1>
        <h1 class="animated step step5 blue5 f-rounded">User</h1>
        <h1 class="animated step step6 blue5 f-rounded">Done!</h1>
    </div>
    <button id="next_step" class="blue5 opacity_on_active right"><span class="left">Next</span> <i class="icon-angle-right"></i></button>
</div>