<?php $option = $this->getOptionValue(); ?>
<?php $mcommerce = $option->getObject(); ?>
<?php $application = $this->getApplication(); ?>
<?php $store = $this->getCurrentStore(); ?>
<?php $default_store = $mcommerce->getDefaultStore(); ?>
<div>
    <form id="storeEditForm" method="post" action="<?php echo $this->getUrl('mcommerce/application_store/editpost'); ?>">
        <div class="buttons">
            <button type="button" onclick="store.close();" class="delete left"><i class="icon-arrow-left"></i></button>
            <button type="submit" class="default_button right">OK</button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <fieldset class="edit_store_informations">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Store information'); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="600px">
                <tr>
                    <td class="label"><div><label for="name"><?php echo $this->_('Store name:'); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="name" name="name" class="required" value="<?php echo $store->getName() ? $store->getName() : $mcommerce->getName(); ?>" placeholder="<?php echo $this->_('Store name'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="email"><?php echo $this->_('Email:'); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="email" name="email" class="required" value="<?php echo $store->getEmail(); ?>" placeholder="<?php echo $this->_('Email'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top"><div><label for="street"><?php echo $this->_('Street:'); ?> <span class="input-required">*</span></label></div></td>
                    <td><textarea id="street" name="street" class="required" placeholder="<?php echo $this->_('Street'); ?>"><?php echo $store->getStreet('\n'); ?></textarea></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="postcode"><?php echo $this->_('Postcode:'); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="postcode" name="postcode" class="required" value="<?php echo $store->getPostcode(); ?>" placeholder="<?php echo $this->_('Postcode'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="city"><?php echo $this->_('City:'); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="city" name="city" class="required" value="<?php echo $store->getCity(); ?>" placeholder="<?php echo $this->_('City'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="country"><?php echo $this->_('Country:'); ?></label></div></td>
                    <td><input type="text" id="country" name="country" value="<?php echo $store->getCountry(); ?>" placeholder="<?php echo $this->_('Country'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="phone"><?php echo $this->_('Phone:'); ?></label></div></td>
                    <td><input type="text" id="phone" name="phone" value="<?php echo $store->getPhone(); ?>" placeholder="<?php echo $this->_('Phone'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="opening_hours"><?php echo $this->_("Hours of operation:"); ?></label></div></td>
                    <td><input type="text" id="opening_hours" name="opening_hours" value="<?php echo $store->getOpeningHours(); ?>" placeholder="<?php echo $this->_("Hours of operation"); ?>" /></td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="edit_store_delivery">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Delivery'); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="600px">
                <col width="200px" />
                <col width="200px" />
                <col width="200px" />
                <tr class="relative">
                    <td class="label" valign="top"><div><label><?php echo $this->_('Delivery methods:'); ?> <span class="input-required">*</span></label></div></td>
                    <td colspan="2" class="relative">
                        <?php $delivery_method = new Mcommerce_Model_Delivery_Method(); ?>
                        <?php $delivery_methods = $delivery_method->findAll(); ?>
                        <?php foreach($delivery_methods as $k => $method) : ?>
                        <?php $method->addData($store->getDeliveryMethod($method->getId())->getData()); ?>
                        <label for="delivery_method_<?php echo $method->getId() ?>" class="checkbox delivery_method block<?php if($method->getStoreDeliveryMethodId()) : ?> checked<?php endif; ?><?php if(!$method->isFree()) : ?> toggle_shippging_cost<?php endif; ?>">
                            <span class='icon'></span><span class='icon-to-fade'></span>
                            <input type="checkbox" id="delivery_method_<?php echo $method->getId() ?>" class="required" name="new_delivery_methods[][method_id]" value="<?php echo $method->getId(); ?>"<?php if($method->getStoreDeliveryMethodId()) : ?> checked="checked"<?php endif; ?> />
                            <?php echo $method->getName(); ?>
                        </label>
                        <?php endforeach; ?>
                    </td>
                </tr>
                <?php $method = $store->getDeliveryMethod(3); ?>
                <tr class="shipping_cost"<?php if(!$method->getStoreDeliveryMethodId()) : ?>style="display:none;"<?php endif; ?>>
                    <td class="label"><div><label for="delivery_fees"><?php echo $this->_("Delivery fees:"); ?></label></div></td>
                    <td><input type="text" id="delivery_fees" class="price" name="details_delivery_methods[3][price]" value="<?php echo $method->getPrice(); ?>" placeholder="<?php echo $this->_('Delivery fees'); ?>" /></td>
                    <td>
                        <?php $taxes = $mcommerce->getTaxes(); ?>
                        <?php if($taxes->count()) : ?>
                        <select id="store_tax_id" name="details_delivery_methods[3][tax_id]">
                            <option value=""><?php echo $this->_('Tax'); ?></option>
                        <?php foreach($taxes as $tax) : ?>
                            <option value="<?php echo $tax->getId(); ?>"<?php if($method->getTaxId() == $tax->getId()) : ?> selected="selected"<?php endif; ?>><?php echo $tax->getName(); ?> (<?php echo $tax->getRate(); ?>%)</option>
                        <?php endforeach ?>
                        </select>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr class="shipping_cost"<?php if(!$method->getStoreDeliveryMethodId()) : ?>style="display:none;"<?php endif; ?>>
                    <td class="label"><div><label for="min_amount_free_delivery"><?php echo $this->_("Free delivery starting from:"); ?></label></div></td>
                    <td colspan="2" ><input type="text" id="min_amount_free_delivery" class="price" name="details_delivery_methods[3][min_amount_for_free_delivery]" value="<?php echo $method->getMinAmountForFreeDelivery(); ?>" placeholder="<?php echo $this->_('Free delivery starting from'); ?>" /></td>
                </tr>

                <tr>
                    <td class="label"><div><label for="delivery_area"><?php echo $this->_("Delivery radius:"); ?></label></div></td>
                    <td colspan="2" ><input type="text" id="delivery_area" class="price" name="delivery_area" value="<?php echo $store->getDeliveryArea(); ?>" placeholder="<?php echo $this->_('Delivery radius'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="delivery_time"><?php echo $this->_("Delivery time:"); ?></label></div></td>
                    <td colspan="2" ><input type="text" id="delivery_time" class="price" name="delivery_time" value="<?php echo $store->getDeliveryTime(); ?>" placeholder="<?php echo $this->_('Time in minutes'); ?>" /></td>
                </tr>
                <tr>
                    <td class="label"><div><label for="min_amount"><?php echo $this->_("Minimum order:"); ?></label></div></td>
                    <td colspan="2" ><input type="text" id="min_amount" class="price" name="min_amount" value="<?php echo $store->getMinAmount(); ?>" placeholder="<?php echo $this->_('Minimum order'); ?>" /></td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="edit_store_payments">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Payment'); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="600px">
                <tr>
                    <td class="label" valign="top"><div><label><?php echo $this->_('Payment methods:'); ?> <span class="input-required">*</span></label></div></td>
                    <td class="relative">
                        <?php $payment_method = new Mcommerce_Model_Payment_Method(); ?>
                        <?php $payment_methods = $payment_method->findAll(); ?>
                        <?php foreach($payment_methods as $method) : ?>
                        <label for="payment_method_<?php echo $method->getId() ?>" class="checkbox payment_method block<?php if($store->hasPaymentMethod($method->getId())) : ?> checked<?php endif; ?><?php if($method->isOnline()) : ?> toggle_payment_data<?php endif; ?>">
                            <span class='icon'></span><span class='icon-to-fade'></span>
                            <input type="checkbox" id="payment_method_<?php echo $method->getId() ?>" class="required" name="new_payment_methods[][method_id]" value="<?php echo $method->getId(); ?>"<?php if($store->hasPaymentMethod($method->getId())) : ?> checked="checked"<?php endif; ?> />
                            <?php echo $method->getName(); ?>
                        </label>
                        <?php ?>
                        <?php endforeach; ?>
                    </td>
                </tr>
                <?php $method = $store->getPaymentMethod(1)->getInstance(); ?>
                <tr class="paypal_data"<?php if(!$method->getId()) : ?>style="display:none;"<?php endif; ?>>
                    <td class="label"><div><label for="paypal_user"><?php echo $this->_("Username:"); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="paypal_user" class="required" name="details_payment_methods[1][user]" value="<?php echo $method->getUser(); ?>" placeholder="<?php echo $this->_("Username"); ?>" /></td>
                </tr>
                <tr class="paypal_data"<?php if(!$method->getId()) : ?>style="display:none;"<?php endif; ?>>
                    <td class="label"><div><label for="paypal_password"><?php echo $this->_("Password:"); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="paypal_password" class="required" name="details_payment_methods[1][password]" value="<?php echo $method->getPassword(); ?>" placeholder="<?php echo $this->_('Password'); ?>" /></td>
                </tr>
                <tr class="paypal_data"<?php if(!$method->getId()) : ?>style="display:none;"<?php endif; ?>>
                    <td class="label"><div><label for="paypal_signature"><?php echo $this->_("Signature:"); ?> <span class="input-required">*</span></label></div></td>
                    <td><input type="text" id="paypal_signature" class="required" name="details_payment_methods[1][signature]" value="<?php echo $method->getSignature(); ?>" placeholder="<?php echo $this->_('Signature'); ?>" /></td>
                </tr>
            </table>
        </fieldset>
        <?php if($taxes->count() == 0) : ?>
        <fieldset class="edit_store_tax">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Tax'); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="600px">
                <tr>
                    <td class="label"><div><label><?php echo $this->_('Tax rate:'); ?> <span class="input-required">*</span></label></div></td>
                    <td class="relative"><input type="text" id="new_tax_rate" name="new_tax_rate" class="price required number" value="" placeholder="<?php echo $this->_("20,00 %"); ?>" /></td>
                </tr>
            </table>
        </fieldset>
        <?php endif; ?>
        <?php if($store->getId()) : ?>
            <input type="hidden" name="store_id" id="store_id" value="<?php echo $store->getId() ?>" />
        <?php endif; ?>
        <input type="hidden" name="option_value_id" value="<?php echo $option->getId() ?>" />

    </form>
</div>