<?php $option = $this->getOptionValue(); ?>
<?php $mcommerce = $option->getObject(); ?>

<div id="tax">
    <div id="tax_list" pos="1">
        <div class="section">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Tax'); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <div class="form_content">
                <form id="mcommerceStoreForm" action="<?php echo $this->getUrl('mcommerce/application/save'); ?>">
                    <table cellspacing="10" class="no-collapse">
                        <tbody>
                            <tr>
                                <td class="label"><label for="name"><?php echo $this->_('Name:'); ?></label></td>
                                <td><input type="text" value="<?php echo $mcommerce->getName(); ?>" id="name" class="input required" name="name" /></td>
                            </tr>
                            <tr>
                                <td class="label"><label for="description"><?php echo $this->_('Description:'); ?></label></td>
                                <td><input type="text" value="<?php echo $mcommerce->getDescription(); ?>" id="description" class="input required" name="description" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="save right">
                        <button class="default_button btn-block" type="submit">
                            <?php echo $this->_('Save'); ?>
                        </button>
                    </div>
                    <div class="clear"></div>
                    <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                </form>
            </div>
        </div>
        <div id="stores_manager"<?php if(!$mcommerce->getId()) : ?> style="display:none"<?php endif; ?>>
            <div class="section">
                <h4 class="subtitle">
                    <span class="left area"><?php echo $this->_('My stores'); ?></span>
                    <hr class="area reverse">
                    <span class="area right">
                        <button type="button" class="default_button edit_store add right" id="add_item">
                            <i class="icon-plus"></i>
                        </button>
                    </span>
                    <div class="clear"></div>
                </h4>
                <?php echo $this->createPartialHtml('no_item', 'core_view_default', 'application/customization/features/edit/no_item.phtml'); ?>
            </div>
            <div id="section_existing_stores" class="section"<?php if(!$stores->count()) : ?> style="display:none"<?php endif; ?>>
                <h4 class="subtitle">
                    <span class="left area"><?php echo $this->_('Manage'); ?></span>
                    <hr class="area reverse">
                    <span class="area right">
                        <button type="button" class="default_button toggle_details" id="toggle_existing_stores">
                            <i class="icon-chevron-down"></i>
                            <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                        </button>
                    </span>
                    <div class="clear"></div>
                </h4>
                <div id="existing_stores" style="display:none;">

                    <?php //if($stores->count()) : ?>
                    <ul class="list stores_list">
                        <?php foreach ($stores as $store) : ?>
                        <?php echo $this->getLayout()->addPartial('row_store_'.$store->getId(), 'admin_view_default', 'mcommerce/application/edit/store/li.phtml')
                                ->setCurrentOptionValue($option)
                                ->setCurrentStore($store)
                                ->toHtml()
                            ;
                        ?>
                        <?php endforeach ?>
                    </ul>
                    <?php //endif; ?>

                </div>
            </div>
        </div>

    </div>
    <div id="store_edit" pos="2">

    </div>
</div>
<div id="store_edit">

</div>
