<?php $folder = new Folder_Model_Folder(); ?>
<?php $folder->find($this->getValueId(), 'value_id'); ?>
<?php $category = new Folder_Model_Category(); ?>
<?php
    if($this->getParentId() != 'null') {
        $category->find($this->getCategoryId()) ;
    } else {
        $category->find($folder->getRootCategoryId(), 'category_id');
    }
?>

<?php $current_option = new Application_Model_Option_Value(); ?>
<?php $current_option->find($this->getValueId(), 'value_id') ?>

<div id="folderForm_cont" class="folderForm_cont">
    <form rel="<?php echo $category->getCategoryId() ?>" class="folderForm" name="folderForm" method="post" action="<?php echo $this->getUrl('folder/application/editpost') ?>" style="display:none">
        <input type="hidden" name="value_id" value="<?php echo $this->getValueId(); ?>" />
        <input type="hidden" id="category_id" name="category_id" value="<?php echo $category->getCategoryId() ?>" />
        <input type="hidden" name="parent_id" value="<?php echo $this->getParentId() ?>" />
        <input type="hidden" name="remove_picture" id="remove_picture" value="" />
        <input type="hidden" name="file" id="file" value="" />
        <div class="form_content">
            <div class="infos">
                <div id="contact_content">
                    <table class="no-collapse" cellspacing="10">
                        <tr>
                            <td></td>
                            <td><label for="title"><?php echo $this->_('Title') ?> <span class="input-required">*</span></label></td>
                            <td><label for="subtitle"><?php echo $this->_('Subtitle') ?></label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="folder_background_cont">
                                <!--[if gte IE 10]><!-->
                                <button id="upload_folder_background" <?php if($category->getPicture()) : echo ' style="display:none" '; endif; ?>type="button" class="upload_folder_background upload editor_menu active image_left">
                                    <i class="icon-camera-retro"></i>
                                    <?php echo $this->_('Add a') ?><br /><span class="bold"><?php echo $this->_('picture') ?></span>
                                </button>
                                <!--<![endif]-->
                                <input id="folder_background_file" class="uploader" style="display:none" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
                                <img id="background_img_src" <?php if(!$category->getPicture()) : echo ' style="display:none" '; endif; ?> src="<?php echo $category->getPictureUrl() ?>" width="140px"/><a id="remove_background_img" <?php if(!$category->getPicture()) : echo ' style="display:none" '; endif; ?> href="javascript:void(0)"><i class="icon-remove"></i></a>
                            </td>
                            <td>
                                <input type="text" id="title" name="title" class="folder_bg_field input required" value="<?php echo !$folder->getRootCategoryId() ? $current_option->getTabbarName() : $category->getTitle(); ?>" />
                            </td>
                            <td>
                                <input type="text" id="subtitle" name="subtitle" class="folder_bg_field input" value="<?php echo $category->getSubtitle() ?>" />
                            </td>
                            <td>
                                <button class="default_button save_background_image" type="button">OK</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <?php /*
    <div class="pages" style="display:none">
        <div class="listing folder_listing">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_('Add a page') ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>

            <div id="add_page_list">
                <div class="a-center" id="no_item">
                    <?php echo $this->_('Click on a page to add it to the folder'); ?> "<span class="folder_name"><?php echo !$folder->getRootCategoryId() ? $current_option->getTabbarName() : $category->getTitle(); ?></span>"
                </div>
                <div class="folder_options_values">
                    <ul class="pages_list">
                    <?php
                        echo $this->getLayout()->addPartial('folder_options_values', 'Core_View_Default', 'folder/application/edit/options.phtml')
                            ->setCategory($category)
                            ->setValueId($this->getValueId())
                            ->toHtml()
                    ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    */ ?>
    <script type="text/javascript">
        var folder_form = new FolderForm({
            value_id: '<?php echo $this->getValueId(); ?>',
            title: '<?php echo !$folder->getRootCategoryId() ? addslashes($current_option->getTabbarName()) : addslashes($category->getTitle()) ?>'
        });
    </script>
    <style type="text/css">
        input[disabled="disabled"] {
            opacity: 0.4;
        }
        .pages .folder_listing ul {
            height: auto;
        }
    </style>
</div>
