<div id="tabbar_items" class="overview-tabbar tabbar_items tabbar {{ features.layoutId }} {{ classOffline }} ng-hide" ng-class="{'slide-top': animate_tabbar}" ng-show="tabbar_is_visible">
    <ul id="tabbar" class="tabbar_l1">
        <li ng-repeat="option in features.overview.options">
            <a ng-if="option.url" href="{{ option.url }}" class="item" ng-class="{ is_link: option.is_link }">
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" />
                <span class="block">{{ option.option_id }} {{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge">{{ pushs }}</div>
            </a>
            <a ng-if="option.click" ng-click="option.click()" class="item" ng-class="{ is_link: option.is_link }">
                <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="30" height="30" />
                <span class="block">{{ option.name }}</span>
            </a>
        </li>
    </ul>
</div>

<div id="scrollview_tabbar_items" class="full-tabbar tabbar scrollable_content slide-top ng-hide" ng-show="pages_list_is_visible">
    <ul>
        <?php // if($option_value->getFolderCategoryId()) continue; ?>
        <?php // if(!$option_value->isActive() AND !$is_overview) continue; ?>
        <li ng-repeat="option in features.options">
            <a href="{{ option.url }}" class="item">
                <img ng-src="{{ option.icon_url }}" alt="" title="" width="30" height="30" class="left" />
                <span class="block left">{{ option.name }}</span>
                <div ng-if="option.code == 'push_notification' && pushs" class="badge">{{ pushs }}</div>
                <div class="clear"></div>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="item" ng-click="closeList();">
                <span id="tabbar_name_close" class="block"><?php echo $this->_("Close") ?></span>
            </a>
        </li>
    </ul>
</div>