<?php $order = $this->getTmpOrder(); ?>

<div class="list_header">
    <h3 class="title">
        <span class="area"><?php echo $this->_("Order's details"); ?></span>
        <hr class="area reverse">
        <div class="clear"></div>
    </h3>
</div>
<div class="application_content">
    <table class="no-collapse full_width" width="87%">
        <?php foreach($order->getLines() as $line) : ?>
        <tr>
            <td><span class="bold"><?php echo $line->getQty() ?>x</span> <?php echo $line->getName(); ?></td>
            <td align="right"><strong><?php echo $line->getFormattedTotalPriceExclTax(); ?></strong></td>
        </tr>
        <?php endforeach; ?>
    </table>
</div>
<div class="list_header">
    <h3 class="title">
        <span class="area"><?php echo $this->_('Total'); ?></span>
        <hr class="area reverse">
        <div class="clear"></div>
    </h3>
</div>
<div class="application_content">
    <table class="no-collapse full_width" width="87%">
        <tr>
            <td><?php echo $this->_('Subtotal'); ?></td>
            <td align="right"><strong><?php echo $order->getFormattedTotalExclTax(); ?></strong></td>
        </tr>
        <tr>
            <td><?php echo $this->_('Tax'); ?> (<?php echo $order->getTaxRate() ?>%)</td>
            <td align="right"><strong><?php echo $order->getFormattedTotalTax(); ?></strong></td>
        </tr>
        <tr>
            <td><?php echo $this->_('Total'); ?></td>
            <td align="right"><strong><?php echo $order->getFormattedTotal(); ?></strong></td>
        </tr>
    </table>
</div>
