<div class="wrapper footer_content">
<!--    <div class="content copyright a-right wl_panel">-->
<!--        <p>--><?php //echo $this->_("Version %s", Siberian_Version::VERSION); ?><!--</p>-->
<!--    </div>-->
</div>