<div class="application_extras application">
    <div id="subscription_success" class="application_content inner_content">
        <div class="applications_list content">
            <div class="title">
                <i class="left icon-thumbs-up"></i>
                <h2 class="left f-rounded"><?php echo $this->_('Thanks!'); ?></h2>
                <div class="clear"></div>
                <hr class="reverse" />
            </div>
            <div class="area">
                <p><?php echo $this->_("Your order has been successfully paid. Your application will be published very soon."); ?></p>
                <p><?php echo $this->_('<a href="%s">Click here</a> to go back to your applications list', $this->getUrl('admin/application/list')); ?></p>
            </div>
        </div>
    </div>
</div>
