<!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- SIGN OUT -->
    <?php if ($this->getSession()->isLoggedIn()): ?>
        <li class="xn-icon-button pull-right">
            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
        </li>
    <?php endif; ?>
    <!-- END SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <select id="change_language" tabindex="1" class="select" data-style="btn-success">
            <?php foreach (Core_Model_Language::getLanguages() as $language) : ?>
                <option value="<?php echo $this->getCurrentUrl(true, $language->getCode()); ?>"<?php if(Core_Model_Language::getCurrentLanguage() == $language->getCode()) : ?> selected="selected"<?php endif; ?>><?php echo $language->getName(); ?></option>
            <?php endforeach ?>
        </select>
    </li>
</ul>

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="<?php echo $this->getUrl('admin/account/logout'); ?>" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

