<?php if ($this->getSession()->isLoggedIn()): ?>
    <?php $current = $this->getCurrentLink(); ?>
    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="<?php echo $this->getUrl('/'); ?>"><?php echo $this->_('Siberian') ?></a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <a href="#" class="profile-mini">
                    <img src="assets/images/users/avatar.jpg" alt="John Doe"/>
                </a>
                <div class="profile">
                    <div class="profile-image">
                        <img src="<?php echo $this->getImage("header/thep.jpg");?>" alt="John Doe"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Nhu Thep</div>
                    </div>
                    <div class="profile-controls">
                        <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                    </div>
                </div>
            </li>
            <li class="xn-title"><?php echo $this->_('Navigation') ?></li>
            <li class="<?php if($current == 'null') : ?> active<?php endif; ?>">
                <a href="<?php echo $this->getUrl('/'); ?>"><span class="fa fa-desktop"></span> <span class="xn-text"><?php echo $this->_('Dashboard') ?></span></a>
            </li>
            <li class="<?php if($current == 'my_account') : ?> active<?php endif; ?>">
                <a href="<?php echo $this->getUrl('admin/account/edit'); ?>"><span class="fa fa-user"></span> <span class="xn-text"><?php echo $this->_('My account'); ?></span></a>
            </li>
            <li class="<?php if($current == 'my_invoices') : ?> active<?php endif; ?>">
                <a href="<?php echo $this->getUrl('sales/admin_invoice/list'); ?>"><span class="fa fa-file-text-o"></span> <span class="xn-text"><?php echo $this->_('My invoices'); ?></span></a>
            </li>

        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->
<?php endif; ?>
