<sb-section title="'<?php echo addslashes($this->_("List of your plans")); ?>'" button="button">
    <br />
    <table class="table">
        <col width="5%" />
        <col width="20%" />
        <col width="10%" />
        <col width="10%" />
        <col width="50%" />
        <col width="5%" />
        <thead>
            <tr>
                <th><?php echo $this->_("Id"); ?></th>
                <th><?php echo $this->_("Name"); ?></th>
                <th><?php echo $this->_("One-off"); ?></th>
                <th><?php echo $this->_("Recurring"); ?></th>
                <th><?php echo $this->_("Description"); ?></th>
                <th><?php echo $this->_("Actions"); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="plan in plans" class="slide-left">
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.setup_fee }}</td>
                <td>{{ plan.regular_payment }}</td>
                <td>{{ plan.description }}</td>
                <td>
                    <a href="<?php echo $this->getUrl("subscription/backoffice_edit"); ?>/plan_id/{{ plan.id }}" title="<?php echo $this->_("Edit"); ?>" ng-hide="plan.loader_is_visible"><i class="fa fa-edit"></i></a>
                    <a href="javascript:void(0)" title="<?php echo $this->_("Delete"); ?>" ng-click="delete(plan)" ng-hide="plan.loader_is_visible"><i class="fa fa-remove"></i></a>
                    <sb-loader is_visible="plan.loader_is_visible" type="'inner_content'" size="'tiny'" animation="'no'" class="form_loader"></sb-loader>
                </td>
            </tr>
            <tr ng-show="!plans.length">
                <td colspan="6" class="a-center"><?php echo $this->_("You don't have any plans yet"); ?></td>
            </tr>
        </tbody>
    </table>
</sb-section>