<?php $application = new Application_Model_Application(); ?>
<?php $applications = $application->findAll(); ?>
<div class="application">
    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-mobile-phone"></i>
            <h2 class="left f-rounded"><?php echo $this->_('Applications'); ?></h2>
            <div class="clear"></div>
            <hr class="reverse">
        </div>
        <div class="area">
            <h3 class="title">
                <span class="left area"><?php echo $this->_('List of my applications'); ?></span>
                <hr class="reverse" />
                <div class="clear"></div>
            </h3>
            <br />
            <div>
                <table class="regular_infos list list-input" width="100%">
                    <col width="5%" />
                    <col width="30%" />
                    <col width="20%" />
                    <col width="30%" />
                    <col width="15%" />
                    <tr class="a-left">
                        <th></th>
                        <th><?php echo $this->_('Name'); ?></th>
                        <th><?php echo $this->_('Bundle Id'); ?></th>
                        <th><?php echo $this->_('Created at'); ?></th>
                        <th></th>
                    </tr>
                    <?php foreach($applications as $application) : ?>
                    <tr id="row_application_<?php echo $application->getId(); ?>" class="row_application">
                        <td><img src="<?php echo $application->getIcon(); ?>" width="60" /></td>
                        <td><?php echo $application->getName(); ?></td>
                        <td><?php echo $application->getBundleId(); ?></td>
                        <td><?php echo $application->getFormattedCreatedAt(); ?></td>
                        <td>
                            <div class="icons right">
                                <a id="app_edit_<?php echo $application->getId(); ?>" class="icon edit" href="<?php echo $this->getUrl('application/backoffice/edit', array('app_id' => $application->getId())); ?>">
                                    <i class="icon-edit"></i>
                                </a>
                                <a id="app_delete_<?php echo $application->getId(); ?>" class="icon delete_application" href="<?php echo $this->getUrl('application/backoffice/delete', array('app_id' => $application->getId())); ?>" rel="<?php echo $application->getId(); ?>">
                                    <i class="icon-remove"></i>
                                </a>
                                <div class="clear"></div>
                            </div>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.delete_application').click(function() {
            if(confirm('<?php echo addslashes($this->_('Are you sure you want to remove this application?')); ?>')) {
                reload($(this), this.href, true, function(data) {
                    if(data.success) {
                        $('#row_application_'+data.app_id).remove();
                        if($('.row_application').length == 1) {
                            $('.delete_application').remove();
                        }
                    }
                });
            }
            return false;
        });
    });

</script>