<?php $application = $this->getApplication(); ?>
<?php $option = $this->getCurrentOption(); ?>
<?php $cart = $this->getSession()->getCart(); ?>
<div class="mcommerce cart">
    <div id="mcommerce_purchase_confirm_content" class="relative" rel="mcommerce_purchase_confirm">
        <div class="scroll" class="relative">
            <div id="cart_lines_confirmation" class="padding cart_lines">
                <div class="padding">
                    <div class="title">
                        <h2><?php echo $this->_('My products'); ?></h2>
                        <hr class="background reverse" />
                    </div>
                    <?php foreach($cart->getLines() as $k => $line) : ?>
                    <div class="padding<?php if($k == 0): ?> first<?php endif; ?>">
                        <?php if($line->getProduct()->getPictureUrl()) : ?>
                        <div class="picture left">
                            <img width="70px" height="70px" src="<?php echo $line->getProduct()->getPictureUrl() ?>" />
                        </div>
                        <?php endif; ?>
                        <div class="details left">
                            <p class="product_name auto_resize"><?php echo $line->getName(); ?></p>
                            <div class="left">
                                <p class="product_details"><?php echo $this->_('Price: %s', $line->getFormattedPrice()); ?></p>
                                <p class="product_details"><?php echo $this->_('Qty: %s', $line->getQty()); ?></p>
                                <p class="product_details"><?php echo $this->_('Total: %s', $line->getFormattedTotal()); ?></p>
                            </div>
                            <div class="right">
                                <button type="button" class="more" onclick="page.getSubpage('mcommerce_purchase_confirm').toggleCartLineDetails('purchase_confirm_cart_line_details_<?php echo $line->getId(); ?>');">
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <?php if($line->getOptions()) : ?>
                        <div id="purchase_confirm_cart_line_details_<?php echo $line->getId(); ?>" class="details product_options right" style="display:none;">
                            <p class="product_details"><?php echo $line->getQty(); ?>x <?php echo $line->getName(); ?> : <?php echo $line->getFormattedBasePrice(); ?></p>
                            <?php foreach($line->getOptions() as $line_option) : ?>
                            <p class="product_details"><?php echo $line_option->getQty(); ?>x <?php echo $line_option->getName(); ?> : <?php echo $line_option->getFormattedPrice(); ?></p>
                            <?php endforeach ?>
                        </div>
                        <?php endif ?>
                        <input type="hidden" name="line_id" value="<?php echo $line->getId(); ?>" />
                        <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                    </div>
                    <div class="clear"></div>
                    <?php endforeach; ?>
                </div>

                <div class="padding">
                    <div class="title">
                        <h2 class="title"><?php echo $this->_('Total'); ?></h2>
                        <hr class="background reverse" />
                    </div>

                    <table class="no-collapse right" width="75%" cellspacing="10">
                         <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Subtotal'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotalExclTax(); ?></td>
                        </tr>
                        <?php if($cart->getDeliveryCost() > 0) : ?>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Delivery fees'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedDeliveryCost(); ?></td>
                        </tr>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Total Excl. Tax'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotalExclTax(); ?></td>
                        </tr>
                        <?php endif; ?>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Tax'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotalTax(); ?></td>
                        </tr>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Total'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotal(); ?></td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <form id="confirmOrderForm" action="<?php echo $cart->getPaymentMethod()->getUrl(); ?>">
            <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
        </form>

    </div>
    <script type="text/javascript">

        var subpage = page.getSubpage('mcommerce_purchase_confirm');
        subpage.setCallback('didappear', function() {
            this.setScrollview(new iScroll('mcommerce_purchase_confirm_content', {
                hScroll: false
            })).setContentSize();
            <?php if($this->getSession()->orderIsPayed) : ?>
            this.confirmOrder();
            <?php endif; ?>
        }).setCallback('onfocus', function() {
            this.refresh();
        });

        subpage.setContentSize = function() {
            var width = $('#cart_lines_confirmation').width();
            $('#cart_lines_confirmation').find('.details').each(function() {
                $(this).css('width', width - $(this).prev('.picture').outerWidth(true));
            });
            $('#cart_lines_confirmation').find('.details.none').fadeIn(200);
        }

        subpage.submit = function(id) {
            <?php if($cart->getPaymentMethod()->isOnline()) : ?>
//            page.showIframePage($('#confirmOrderForm').attr('action'));
            window.location = $('#confirmOrderForm').attr('action');
            <?php else : ?>
            var request = this.createRequest('purchase_confirm', $('#confirmOrderForm').attr('action'));
            request.setDatas($('#confirmOrderForm').find('input').serializeArray())
                .setOnSuccess(function(datas) {
                if(datas.success) {
                    this.confirmOrder();
                }
            }.bind(this)).send();
            <?php endif; ?>
            return this;
        }

        subpage.toggleCartLineDetails = function(id) {
            $('#'+id).stop().slideToggle(300, function() {this.scrollview.refresh();}.bind(this));
            return this;
        }

        subpage.onClose = function() {
            page.destroySubpage(this);
        }

        subpage.confirmOrder = function() {
            var datas = {
                id: 'mcommerce_purchase_success',
                url: '<?php echo $this->getUrl('mcommerce/mobile_purchase/success'); ?>',
                isAjax: 1
            }
            page.showSubpage(datas);
        }

    </script>

</div>
