<?php $application = $this->getApplication(); ?>
<?php $option = $this->getCurrentOption(); ?>
<?php $cart = $this->getSession()->getCart(); ?>
<?php $customer = $this->getSession()->getCustomer(); ?>
<div class="mcommerce purchase customer">
    <div id="customer_infos_content" class="relative" rel="cart">
        <div class="scroll" class="relative">
            <div class="padding cart_lines">
                <form id="purchase_customer_form" action="<?php echo $this->getUrl('mcommerce/mobile_purchase/customerpost'); ?>">
                    <table class="no-collapse" width="100%" cellspacing="10">
                        <tr class="align-left"><th class="label"><label for="purchase_customer_firstname"><?php echo $this->_('Firstname:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_firstname" name="customer_firstname" class="full_width required" value="<?php echo $cart->getCustomerFirstname() ? $cart->getCustomerFirstname() : $customer->getFirstname(); ?>" placeholder="<?php echo $this->_('Firstname'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_lastname"><?php echo $this->_('Lastname:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_lastname" name="customer_lastname" class="full_width required" value="<?php echo $cart->getCustomerFirstname() ? $cart->getCustomerLastname() : $customer->getLastname() ?>" placeholder="<?php echo $this->_('Lastname'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_email"><?php echo $this->_('Email:'); ?></label></th></tr>
                        <tr><td><input type="email" id="purchase_customer_email" name="customer_email" class="full_width required email" value="<?php echo $cart->getCustomerEmail() ? $cart->getCustomerEmail() : $customer->getEmail() ?>" placeholder="<?php echo $this->_('Email'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_phone"><?php echo $this->_('Phone:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_phone" name="customer_phone" class="full_width required" value="<?php echo $cart->getCustomerPhone() ?>" placeholder="<?php echo $this->_('Phone'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_birthday"><?php echo $this->_('Date of birth:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_birthday" name="customer_birthday" class="full_width" value="<?php echo $cart->getCustomerBirthday() ?>" placeholder="<?php echo $this->_('Date of birth'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_street"><?php echo $this->_('Street:'); ?></label></th></tr>
                        <tr><td><textarea type="text" id="purchase_customer_street" name="customer_street" class="full_width" placeholder="<?php echo $this->_('Street'); ?>"><?php echo $cart->getCustomerStreet() ?></textarea></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_postcode"><?php echo $this->_('Postcode:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_postcode" name="customer_postcode" class="full_width" value="<?php echo $cart->getCustomerPostcode() ?>" placeholder="<?php echo $this->_('Postcode'); ?>" /></td></tr>

                        <tr class="align-left"><th class="label"><label for="purchase_customer_city"><?php echo $this->_('City:'); ?></label></th></tr>
                        <tr><td><input type="text" id="purchase_customer_city" name="customer_city" class="full_width" value="<?php echo $cart->getCustomerCity() ?>" placeholder="<?php echo $this->_('City'); ?>" /></td></tr>
                    </table>
                    <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var subpage = page.getSubpage('mcommerce_purchase_customer');
        subpage.setCallback('willappear', function() {

            page.loadJs({id: 'mobiscroll_datetime', url: '<?php echo $this->getJs('mobiscroll.datetime-2.5.4.js') ?>', onload: function() {

                $('#purchase_customer_birthday').mobiscroll().date({
                    lang: '<?php echo $this->_('en') ?>',
                    theme: '<?php echo (DEVICE_IS_IPHONE || DEVICE_TYPE == 'desktop') ? 'ios' : 'android-ics' ?>',
                    display: 'bottom',
                    dateFormat: 'yy-mm-dd',
                    mode: 'scroller',
                    inputClass: 'full_width'
                });

            }});

            <?php $script_src = (DEVICE_IS_IPHONE || DEVICE_TYPE == 'desktop') ? 'mobiscroll.ios-2.5.4.js' : 'mobiscroll.android-ics-2.5.4.js'; ?>
            var scripts = {
                mobiscroll_core: '<?php echo $this->getJs('mobiscroll.core-2.5.4.js'); ?>',
                mobiscroll_theme: '<?php echo $this->getJs($script_src); ?>',
                mobiscroll_language: '<?php echo $this->getJs('mobiscroll.core-2.5.4-fr.js'); ?>',
            }
            for(var id in scripts) {
                page.loadJs({id: id, url: scripts[id]});
            }

            this.setScrollview(new iScroll('customer_infos_content', {
                hScroll: false
            }));
        }).setCallback('didappear', function() {
            page.destroySubpage('mcommerce_purchase_shipping');
        });

        subpage.submit = function() {

            var form = $('#purchase_customer_form');
            if(!form.valid()) return false;

            var xhr = this.getRequest('save_customer');
            if(!xhr) {
                xhr = this.createRequest('save_customer', form.attr('action'));
                xhr.setOnSuccess(function(datas) {
                    if(datas.id) {
                        page.showSubpage(datas);
                    }
                });
            }

            xhr.setDatas(form.serializeArray()).send();
        }

    </script>
    <style>
        .mcommerce.cart .cart_lines .cart_line_details {
            font-size: 15px;
        }
    </style>
</div>
