<?php $application = $this->getApplication(); ?>
<?php $option = $this->getCurrentOption(); ?>
<?php $cart = $this->getSession()->getCart(); ?>
<?php $store = $cart->getStore(); ?>
<div class="mcommerce purchase payment">
    <div id="payment_infos_content" class="relative" rel="mcommerce_purchase_payment">
        <div class="scroll" class="relative">
            <div class="padding cart_lines">
                <form id="purchase_payment_form" action="<?php echo $this->getUrl('mcommerce/mobile_purchase/paymentpost'); ?>">
                    <div class="padding">
                        <label><?php echo $this->_('Choose a payment method:'); ?></label>
                        <div class="padding">

                            <ul id="payment_methods_<?php echo $store->getId(); ?>" class="list payment_methods" rel="<?php echo $store->getId(); ?>">
                                <?php foreach($store->getPaymentMethods() as $method) : ?>
                                <li>
                                    <label for="payment_method_<?php echo $store->getId(); ?>_<?php echo $method->getId(); ?>" class="noclickdelay"><?php echo $method->getName(); ?></label>
                                    <input type="radio" id="payment_method_<?php echo $store->getId(); ?>_<?php echo $method->getId(); ?>" name="payment_method_id" class="checkbox" value="<?php echo $method->getMethodId(); ?>" <?php if($cart->getPaymentMethodId() == $method->getId() AND $cart->getStoreId() == $store->getId()) : ?> checked="checked"<?php endif; ?> />
                                </li>
                                <?php endforeach ?>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var subpage = page.getSubpage('mcommerce_purchase_payment');
        subpage.setCallback('willappear', function() {

            $('#payment_infos_content').find('input.checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                radioClass: 'iradio_flat'
            });
//            this.setScrollview(new iScroll('payment_infos_content', {
//                hScroll: false
//            }));

        }).setCallback('didappear', function() {
            page.destroySubpage('mcommerce_purchase_confirm');
        }).setCallback('diddisappear', function() {
            $('#payment_infos_content').find('input.checkbox').iCheck('destroy');
        });

        subpage.submit = function() {
            var form = $('#purchase_payment_form');
            if(!form.valid()) return false;

            var xhr = this.getRequest('save_payment');
            if(!xhr) {
                xhr = this.createRequest('save_payment', form.attr('action'));
                xhr.setOnSuccess(function(datas) {
                    if(datas.id) {
                        page.showSubpage(datas);
                    }
                });
            }

            xhr.setDatas(form.serializeArray()).send();
        }

    </script>
</div>
