/** RESET **/
h1, h2, h3, h4, h5 { font-weight: 500; }
* { margin:0; padding:0; border:none; font-family: Helvetica, Arial, sans-serif; font-weight: 500; -webkit-font-smoothing: antialiased; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; }
p { margin: 10px; }
/** /RESET **/

/** GENERAL **/
h3.title, h3.title * { font-weight: bold; font-size: 25px; }
.default_button i { font-family: FontAwesome; font-size: 20px; }
h3.title.border { border: none; border-bottom: 1px solid black; margin-bottom: 10px; padding-bottom: 5px; }
h3.title a.as-button { margin-top: 6px; }
ul li { padding: 5px; list-style: none }
hr { width: 100%; height:3px; }
img { border-radius: 5px; }
/*body { background: #0F4B5D; }*/

input[type="file"] { border: none; }

.f-normal, .f-normal * { font-family: helvetica; }
.f-bold, .f-bold * { font-weight: bold; }
.f-rounded, .f-rounded * { font-weight: bold; }
.left { float: left; }
.right { float: right; }
.separator { padding: 0 !important; margin: 15px 0; height: 1px; width: 100%; background-color: white; list-style-type: none; }
.block { display: block; }
.none { display: none; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.toupper { text-transform: uppercase; }
.large { margin: 0 40px; }
.s-font { font-size: 10px; }
.rounded { border-radius: 3ex; }
.clear { clear: both; }
.a-right { text-align: right; }
.a-left { text-align: left; }
.a-center { text-align: center; }
.inline { display: inline; }
.inlineblock { display: inline-block; }
.underline { text-decoration: underline; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.relative { position: relative; }
.absolute { position: absolute; }
.pointer { cursor: pointer; }

input.error { border: 1px dotted red; }
label.error { display: block; margin-top: 5px; color: #C41313; text-shadow: 1px 1px black; clear: both; }
.error { color: #C41313; }
/** /GENERAL **/

/** UPLOADER **/
.upload_area .well.drop-zone { width:400px; height:100px; border: dotted 3px lightgray; }
.upload_area .well.nv-file-over { border: dotted 3px #404040; }
.upload_area input[type="file"] { width: 200px; }
/*.upload_area .drop_a_file { margin-left: 50px; }*/
/** /UPLOADER **/

/*---------------*/

.inner_content { color: #404040; background-color: white; }
.inner_content .reverse, .inner_content.reverse { background-color: #404040 !important; }
.inner_content .input, .inner_content.input { background-color: #404040 !important; border-color: #404040 !important; transition: all 0.25s ease 0s; }
.inner_content .input:focus, .inner_content .input.focus, .inner_content.input:focus, .inner_content.input.focus { color: #404040 !important; }
.inner_content.no-background { background-color: transparent !important; }
.inner_content .reverse, .inner_content.reverse { color: white !important; }
.inner_content .input, .inner_content.input { color: white !important; }
.inner_content .input:focus, .inner_content .input.focus, .inner_content.input:focus, .inner_content.input.focus { background-color: white !important; }
.inner_content.active:after { border-left-color: white !important; }
.inner_content.active:hover:after { border-left-color: white !important; }

.area { color: #404040 !important; }
.area .reverse, .area.reverse { background-color: #404040 !important; }
.area .input, .area.input { background-color: #404040 !important; border-color: #404040 !important; transition: all 0.25s ease 0s; }
.area .input:focus, .area .input.focus, .area.input:focus, .area.input.focus { color: #404040 !important; }
.area { background-color: white !important; }
.area.no-background { background-color: transparent !important; }
.area .reverse, .area.reverse { color: white !important; }
.area .input, .area.input { color: white !important; }
.area .input:focus, .area .input.focus, .area.input:focus, .area.input.focus { background-color: white !important; }
.area.active:after { border-left-color: white !important; }
.area.active:hover:after { border-left-color: white !important; }

/*---------------*/

/** MENU **/
.backoffice_menu { float: right; }
.backoffice_menu ul.l1 { height: 60px; margin: 0; }
.backoffice_menu ul.l1 li { float: left; padding: 0; text-align: center; }
.backoffice_menu ul.l1 li a { position: relative; display: block; padding: 17px 26px 16px 21px; color: white; font-size: 19px; z-index: 2; }
.backoffice_menu ul.l1 li a i { margin-right: 10px; }
.backoffice_menu ul.l1 li a:hover { background-color: #888888; }
.backoffice_menu ul.l1 li ul.l2 { position: absolute; background: #404040; top: 0; opacity: 0; visibility: hidden; transition: all .4s ease 0s; border-radius: 0 0 7px 7px; z-index: 1; }
.backoffice_menu ul.l1 li.has_submenu:hover ul.l2 { top: 60px; opacity: 1; visibility: visible; }
.backoffice_menu ul.l1 li ul.l2 li { float: none; }
.backoffice_menu ul.l1 li ul.l2 li.has_submenu { position: relative; }
.backoffice_menu ul.l1 li ul.l2 li a { text-align: left; border-top: 1px solid #343434; border-bottom: 1px solid #858585; }
.backoffice_menu ul.l1 li ul.l2 li a.first { border-top: none; }
.backoffice_menu ul.l1 li ul.l2 li a.last { border-radius: 0 0 7px 7px; border-bottom: none; }

.backoffice_menu ul.l1 li ul.l2 li ul.l3 { position: absolute; width: 100%; background: #404040; top: 0; left: 0; opacity: 0; visibility: hidden; transition: all .4s ease 0s; border-radius: 7px 0 0 7px; z-index: 1; }
.backoffice_menu ul.l1 li ul.l2 li.has_submenu:hover ul.l3 { left:-100%; opacity: 1; visibility: visible; }
.backoffice_menu ul.l1 li ul.l2 li.has_submenu:hover ul.l3 a.first { border-radius: 7px 0 0 0; }
.backoffice_menu ul.l1 li ul.l2 li.has_submenu:hover ul.l3 a.last { border-radius: 0 0 0 7px; }
/** /MENU **/


/** LIST **/
ul.list-image.image-left { width: 95%; margin: auto; }
ul.list-image.image-left li { padding-left: 0px; }
ul.list-image.image-left li.left { float: left; }
ul.list-image.image-left li.center { float: left; margin-left: 1%; }
ul.list-image.image-left li.right { float: right; }

ul.list-image.image-left li div.img { float: left; /*width: 90px; */}
ul.list-image.image-left li div.details { float: left; }
ul.list-image.image-left li div.details .title { text-align: left; }

ul.list-image.image-left.cols_2 li { width: 500px; padding-right: 20px;}
ul.list-image.image-left.cols_2 li div.details { width: 415px; margin-left: 20px;}
/*ul.list-image.image-left.cols_2 li div.details .title { font-size: 36px; }*/
ul.list-image.image-left.cols_2 li div.details .title { margin: 10px; font-size: 24px; }
ul.list-image.image-left.cols_2 li div.details .text { text-align: justify; font-size: 14px; }
ul.list-image.image-left.cols_2 li div.details .intro { text-align: justify; font-size: 18px; line-height: 30px; }
ul.list-image.image-left.cols_2 li div.details ul { margin-left: 35px;}
ul.list-image.image-left.cols_2 li div.details ul li { list-style-type: disc; line-height: 20px; }
ul.list-image.image-left.cols_2 li div.details ul li span { font-family: Helvetica, Arial, sans-serif; color: white; }
ul.list-image.image-left.cols_2 li div.details ul li span.yellow { color: #FEDA0D; }
ul.list-image.image-left.cols_3 li div.details { width: 242px;margin-left: 10px;}
ul.list-image.image-left.cols_3 li div.details .title { margin: 10px; font-size: 18px; font-weight: normal; }
ul.list-image.image-left.cols_3 li div.details .text { text-align: left; font-size: 14px; line-height: 24px;}
/** /LIST **/

/** NOTIFICATIONS **/
.notification { position: fixed; right: 1%; height: 60px; width: 300px; top: 80px; }
.notification .btn { padding: 15px 30px; font-size: 20px; border-radius: 5px; }
/** /NOTIFICATIONS **/

/** BUTTONS **/
button.blue { padding: 10px; font-size: 17px; background-repeat: no-repeat; }
button.image_left { background-position: 11px center; }

button.upload {height:70px;width: 170px;padding: 5px 5px 5px 10px;border-radius: 7px;}
button.upload i {float: left; font-size: 45px;}
p.recommended_size{font-size:10pt; margin: 10px 0;}

.default_button, button.delete {
    display: block;
    /*padding: 5px 11px;*/
    width: 33px;
    min-height: 29px;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
    font-weight: bold;
}
.delete {
    font-size: 20px;
}

.default_button.add {
    font-size: 25px;
    line-height: 25px;
}


a.default_button, button.default_button { background-color: #DDF2FF; color: #4DBDFF; }
.bg-blue20 a.default_button, .bg-blue20 button.default_button { border: 1px solid #4DBDFF; }
button.back, button.cancel { background-color: #FB5384; color: #DDF2FF; }

.default_button.auto, button.delete.auto {
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
}

a.link, button.as-link {
    background: none repeat scroll 0 0 transparent;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

/** /BUTTONS **/

/** MESSAGES **/
/*div.messages { font-size: 12px; width: 1140px; margin: auto; }*/
/*div.messages ul.message { margin: 10px; }*/
/*div.messages ul.success { padding: 10px 20px; border: 1px solid #208FAF; border-radius: 10px; padding: 10px; color: #208FAF; background-color: #D1ECF3; }*/
/*div.messages ul.error { padding: 10px 20px; border: 1px solid #C41313; border-radius: 10px; padding: 10px; color: #C41313; background-color: #ff8a8a; }*/
/*div.messages ul.warning { padding: 10px 20px; border: 1px solid #AAAA00; border-radius: 10px; padding: 10px; color: #777700; background-color: #FFFFAA; }*/
/*div.messages ul.message li { padding: 2px; font-size:14px;}*/
/*div.message .error {background:#C41313;color:white;}*/

/** /MESSAGES **/

/** TOP / HEADER **/
.top { position: fixed; top: 0; width: 100%; height: 60px; background-color: #404040; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); z-index: 30;}
.top .content { position: relative; width: 1140px; height: 60px; margin: 0px auto auto; background-color: #404040; z-index: 2; }
.top .content .logo { margin-top: 5px; }

.top div.message { position: relative; height: 100%; width: 1140px; margin: auto; z-index: 1; }
.top div.message p { min-width: 300px; margin: 0; padding: 10px 20px; background-color: #404040; color: white; border-radius:0px 0px 5px 5px; text-align: center; font-size: 15px; font-weight: bold; }
.top div.message.error p { background:#C41313; color:white;  }

/** /TOP / HEADER **/

/** LOADER **/
.loader { width: 100%; height: 64px; text-align: center; background-repeat: no-repeat; background-color: transparent; background-position: center center; background-size: 64px;}
.loader.inner_content {background-image: url(../images/loader/inner_content.gif);}
.loader.area {background-image: url(../images/loader/area.gif);}
.loader.big {height: 110px; padding: 0; background-size: 96px 102px;}
.loader.regular {height: 74px; padding: 0; background-size: 64px 68px;}
.loader.small {float: right; display: inline-block; width: 42px; height: 34px; padding: 0; background-size: 32px 34px;}
.loader.tiny {height: 26px; padding: 0; background-size: 16px 17px;}
.loader.content_loader { position: fixed; left: 0; height: 100%; min-height: 150px; background-position: center 20px; background-color: rgba(255, 255, 255, 0.5); z-index: 10; }
.table .loader.tiny {height: 22px;}
.loader.form_loader { float: left; width: 50px; height: 35px; margin-left: 5px; }
/** /LOADER **/

/** DEFAULT TEMPLATE **/
.wrapper {width: 1140px;margin: 60px auto auto; padding-bottom: 30px; border-radius: 0 0 10px 10px; }
.wrapper .title { position: relative; min-height: 65px; margin-bottom: 30px; border-bottom: 1px solid white; }
/*.wrapper .title div { position: absolute; }*/
.wrapper .title div.loader { height: 55px; padding: 0; background-size: 45px auto; }
.wrapper .title div.title_content { width: 1100px; padding: 15px; }

.wrapper .title h1 { font-weight: bold; }
.wrapper .title h1 i { margin-right: 10px; font-size: 35px; }
.wrapper .title button { width: 35px; height: 35px; margin-top: 15px; margin-bottom: 10px; padding: 0; font-size: 25px; }
.wrapper .title button span { font-weight: bold; }
.wrapper .content {}

.wrapper .content div.area { min-height: 150px; margin: 30px 0px 0; padding: 0 2%; border-radius: 10px; /*overflow: hidden;*/}
.wrapper .content div.area .title { position: relative; min-height: 40px; margin-bottom: 20px; padding: 0; border-bottom: 1px solid #ccc; }
.wrapper .content div.area .title h2 { position: relative; float: left; padding-right: 10px; z-index: 1; font-weight: bold; font-size: 22px; }
.wrapper .content div.area .title hr { position: absolute; top: 70%; margin: 0; z-index:0; }

/*.wrapper .content div.area .content { margin-top: 10px; }*/

table.table i { font-size: 20px; }
table.table { table-layout: fixed; }
table.table td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
table.table td.wrap { white-space: normal; }


/** /DEFAULT TEMPLATE **/

/** FOOTER **/
.footer { margin-top: 30px; }
.front_index_index .footer { margin-top: 0; }
.footer .footer_content .follow_us { height: 60px; padding: 15px 0 15px 80px; }
.footer .footer_content .follow_us p { margin: 15px 0; font-size: 24px; font-weight: bold; }
.footer .footer_content .follow_us a { margin-left: 30px; font-size: 18px; }

.footer .footer_content .links { padding: 20px; text-align: center; }
.footer .footer_content .links a { padding: 0 20px; font-size: 18px; }
.footer .footer_content .separator hr { width: 780px; margin: auto; height: 2px; }
.footer .footer_content .address p { margin: 0; padding: 30px; font-size: 14px; }
.footer .footer_content .copyright p { margin: 0; padding: 15px; color: #BDBDBD; }
/** /FOOTER **/

