<sb-section title="section_title">

    <form ng-submit="saveSubscription();">
        <div class="col-md-6">
            <div class="form-group">
                <label for="expiration"><?php echo $this->_("Expiration date"); ?></label>
                <input type="expiration" id="expiration" ng-model="subscription.expire_at" class="form-control"
                       placeholder="<?php echo $this->_("Expiration date"); ?>"
                       ng-focus="datepicker_visible = true"
                       ng-change="datepicker_visible = false" />

                <div>
                    <datetimepicker data-ng-model="subscription.expire_at"
                                    data-datetimepicker-config="{ startView:'day', minView:'day' }"
                                    data-is-visible="datepicker_visible"
                                    data-on-set-time="onSetTime"/>
                </div>
            </div>
        </div>

        <div class="clear col-md-12" ng-if="subscription.subscription_app_id">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="subscription.is_active" ng-true-value="'1'"
                               ng-false-value="'0'"/>
                        <?php echo $this->_("This subscription is active"); ?>
                    </label>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary left"><?php echo $this->_("Save"); ?></button>
                <sb-loader is_visible="form_loader_is_visible" type="'inner_content'" size="'small'" animation="'no'"
                           class="form_loader"></sb-loader>
                <div class="clear"></div>
            </div>
        </div>
    </form>

</sb-section>