<sb-section title="'<?php echo addslashes($this->_("List of your subscriptions")); ?>'" >
    <br />
    <div class="form-group">
        <label for="filter"><?php echo $this->_("Search"); ?></label>
        <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="<?php echo $this->_("Search"); ?>" />
    </div>
    <br />
    <table class="table">
        <col width="30%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="10%" />
        <col width="5%" />
        <thead>
        <tr>
            <th class="pointer" ng-click="order = 'admin_name'; by = !by"><?php echo $this->_("Name"); ?></th>
            <th class="pointer" ng-click="order = 'app_name'; by = !by"><?php echo $this->_("Application"); ?></th>
            <th class="pointer" ng-click="order = 'sub_name'; by = !by"><?php echo $this->_("Subscription"); ?></th>
            <th class="pointer" ng-click="order = 'created_at'; by = !by"><?php echo $this->_("Creation"); ?></th>
            <th class="pointer" ng-click="order = 'expire_at'; by = !by"><?php echo $this->_("Expiration"); ?></th>
            <th class="pointer" ng-click="order = 'is_active'; by = !by"><?php echo $this->_("Active"); ?></th>
            <th><?php echo $this->_("Actions"); ?></th>
        </tr>
        </thead>
        <tbody>
        <tr class="slide-left" ng-repeat="subscription in subscriptions | filter:filter | orderBy:order:by" ng-class="{danger: !subscription.is_active}">
            <td>{{ subscription.admin_name }}</td>
            <td>{{ subscription.app_name }}</td>
            <td>{{ subscription.sub_name }}</td>
            <td>{{ subscription.created_at }}</td>
            <td>{{ subscription.expire_at }}</td>
            <td>{{ subscription.is_active }}</td>
            <td>
                <a href="<?php echo $this->getUrl("subscription/backoffice_application_edit"); ?>/subscription_app_id/{{ subscription.subscription_app_id }}" title="<?php echo $this->_("Edit"); ?>"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        <tr ng-show="!subscriptions.length">
            <td colspan="7" class="a-center"><?php echo $this->_("You don't have any subscriptions yet"); ?></td>
        </tr>
        </tbody>
    </table>
</sb-section>