<div id="tabbar_items" class="overview-tabbar tabbar_items type_scroll slide-top {{ features.layoutId }} {{ classOffline }}" ng-show="tabbar_is_visible">
    <ul id="tabbar" class="tabbar_l5">
        <li>
            <?php /*option.is_visible && */ ?>
            <a ng-repeat="option in features.overview.options" href="{{ option.url }}" class="item" ng-class="{ is_link: option.is_link }">
                <div class="relative">
                    <div class="tabbar background"></div>
                    <div class="tabbar no-background">
                        <img ng-src="{{ option.icon_url }}" ng-class="{ colorable: option.icon_is_colorable }" width="70" height="70" />
                        <span class="tabbar no-background block">{{ option.name }}</span>
                        <div ng-if="option.code == 'push_notification' && pushs" class="badge">{{ pushs }}</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>